/* Extra small devices (phones, 600px and down)  0 to 600px 100 */
@media only screen and (max-width: 600px) {


.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;

}

.sidebar{
    display: none;
}



.icon{
    display: block;
}


.navbar-items{
    display: none;
}


.main {
    height:1000px ;
overflow-y: scroll;
overflow-x: hidden;
background-image: url('https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_hybrid&w=740&q=80');
background-size: 100% 100%;

    /* background-color: rgb(4, 95, 95); */
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

}

/* Small devices (portrait tablets and large phones, 600px and up) 

600px 768px   10*/
@media only screen and (min-width: 600px) {
.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer"
    ;

}

.sidebar{
    display: none;
}

.icon{
    display: none;
}
.main {
    height:1000px ;
overflow-y: scroll;
overflow-x: hidden;
background-image: url('https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?semt=ais_hybrid&w=740&q=80');
background-size: 100% 100%;

    /* background-color: rgb(4, 95, 95); */
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
}

/* Medium devices (landscape tablets, 768px and up)  768  992  10*/
@media only screen and (min-width: 768px) {
  .dashboard {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer"
    ;

}
.sidebar {
    display: block;
    height: 1000px;
    background-color: aqua;
    grid-area: sidebar;

}
.icon{
    display: none;
}

.main {
    height:1000px ;
overflow-y: scroll;
overflow-x: hidden;
background-image: url('https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?semt=ais_hybrid&w=740&q=80');
background-size: 100% 100%;

    /* background-color: rgb(4, 95, 95); */
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

}

/* Large devices (laptops/desktops, 992px and up) 992   to 1200px 15*/
@media only screen and (min-width: 992px) {
  .dashboard {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer"
    ;

}
.sidebar {
    display: block;
    height: 1000px;
    background-color: aqua;
    grid-area: sidebar;

}

.icon{
    display: none;
}
.main {
    height:1000px ;
overflow-y: scroll;
overflow-x: hidden;
background-image: url('https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?semt=ais_hybrid&w=740&q=80');
background-size: 100% 100%;

    /* background-color: rgb(4, 95, 95); */
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
     .dashboard {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer"
    ;

}
.sidebar {
    display: block;
    height: 1000px;
    background-color: aqua;
    grid-area: sidebar;

}

.main {
    height:1000px ;
overflow-y: scroll;
overflow-x: hidden;
background-image: url('https://img.freepik.com/free-vector/background-realistic-abstract-technology-particle_23-2148431735.jpg?semt=ais_hybrid&w=740&q=80');
background-size: 100% 100%;

    /* background-color: rgb(4, 95, 95); */
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
}



*{
    margin: 0px;
    padding: 0px;
}


.header {
    height: 50px;
    background-color: cadetblue;
    grid-area: header;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

#logo{
    width: 30%;
    text-align: center;
}

.navbar-items{
    width: 70%;
    
}

.navbar-items>ul{
list-style: none;
display: flex;
justify-content: space-around;


}
.navbar-tabs>li:hover{
    background-color: yellow;
}
.sidebar {
    height:1000px;
    background-color: aqua;
    grid-area: sidebar;

}



.footer {
    height: 50px;
    background-color: cadetblue;
    grid-area: footer;

}


.box{
    width: 200px;
    height: 200px;
    background-color: rgb(203, 203, 203);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.box>img{
    width: 100%;
    
}

.des-btn{
    display: flex;
    justify-content: space-between;
}